[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=postivene
Exec=postivene
Name=Postivene
Name[fi]=Postivene
Comment=Delta Chat client
Categories=Network;InstantMessaging;
